// ========================================
// Finest-form v. 0.3.0
// Copyright 2018, Manuel Coiai
// https://github.com/viralk/finest-form
// ========================================


// ========================================
// Config
// ========================================

// the font size is used to determine the size of all the elements of the form.
// By varying the font size the elements will automatically adapt to the new 
// dimension, keeping a consisten appearance.
$font-size: 13px;

// Change the following value to adapt the form elements to your style
$primary-color: #33C3F0;
$grey-color: #999;
$border-color: #DDD;
$background-color: #FFF;
$border-radius: 5px;


// ========================================
// Config (for testing purpose)
// ========================================
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


// ========================================
// Browser-compatibility
// ========================================
::-webkit-input-placeholder {
  color: transparent;
  opacity: 0;
}
:-moz-placeholder {
  color: transparent;
  opacity: 0;
}
::-moz-placeholder {
  color: transparent;
  opacity: 0;
}
:-ms-input-placeholder {
  color: transparent;
  opacity: 0;
}
::-ms-input-placeholder {
  color: transparent;
  opacity: 0;
}
// Prevent the display of the "clear field" icon on ie 10 / 11 / Edge
::-ms-clear {
  display: none;
}
// Prevent the display of the select arrow in ie 10 / 11 / Edge
select::-ms-expand {
  display: none;
}
// Prevent blue background in selected option when focused in ie 10 / 11 / Edge
select:focus::-ms-value {
  color: inherit;
  background: transparent;
}


// ========================================
// General
// ========================================
%label {
  font-size: $font-size;
  position: absolute;
  top: round($font-size * 1.15);
  left: round($font-size * 1.15);
  font-weight: 400;
  transition: transform .1s ease-in-out;
  transform-origin: top left;
  pointer-events: none;
  padding: inherit;
}
%input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  border-radius: $border-radius;
  background-color: $background-color;
  box-shadow: 0 0 0 1px $border-color;
  font-size: $font-size;
  width: 100%;
  height: round($font-size * 3.5);
  margin-bottom: round($font-size * 1.15);
  box-sizing: border-box;
  outline-color: transparent;
  outline-style: none;

  &:focus {
    box-shadow: 0 0 0 2px $primary-color;
  }
}


// ========================================
// Input style
// ========================================
.input-group {
  position: relative;
  
  label {
    @extend %label;

    &.active {
      transform: translateY(-60%) scale(0.9);
      transform-origin: left;
      opacity: 0.6;
    }
  }

  input[type] {
    @extend %input;
  }

  input[type="url"],
  input[type="text"],
  input[type="tel"],
  input[type="search"],
  input[type="range"],
  input[type="password"],
  input[type="number"],
  input[type="month"],
  input[type="file"],
  input[type="email"] {
    padding: round($font-size * 1.15);
    transition: all .1s linear;

    &.active {
      padding-bottom: 0;
    }
  }
  
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="color"] {
    padding: round($font-size * 1.15) round($font-size * 1.15) 0;
    
    & ~ label {
      transform: translateY(-60%) scale(0.9);
      opacity: 0.6;
    }
  }

  input[type="file"],
  input[type="color"] {
    padding: round($font-size / 1.3);

    & ~ label {
      opacity: 0;
    }
  }

}


// ========================================
// Select style
// ========================================
.select-group {
  position: relative;

  label {
    @extend %label;
    transform: translateY(-60%) scale(0.9);
    transform-origin: left;
    opacity: 0.6;
  }

  select {
    @extend %input;
    padding: round($font-size * 1.15) round($font-size * 1.15) 0;
  }

  // &:before {
  //   content: '';
  //   padding: $font-size * 1.73;
  //   background-color: $background-color;
  //   position: absolute;
  //   top: 0;
  //   right: round($font-size / 1.3);
  //   border-radius: $border-radius;
  //   pointer-events: none;
  // }

  &:after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    margin-top: round($font-size / 1.3);
    padding: round($font-size / 2.6) round($font-size * 1.15);
    border-left: 1px solid $border-color;
    color: $grey-color;
    font-size: round($font-size / 1.08);
    pointer-events: none;
  }

}


// ========================================
// Radio style
// ========================================
.radio-group {

  label {
    font-size: $font-size;
    font-weight: 400;
    margin-right: round($font-size * 1.15); //15px;
    cursor: pointer;
  }

  input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    display: inline-block;
    width: round($font-size * 1.54);
    height: round($font-size * 1.54);
    box-shadow: 0 0 0 0 $primary-color inset;
    transition: all .1s ease-in-out;
    position: relative;
    cursor: pointer;
    vertical-align: 0 - round($font-size / 1.85);
    border-radius: 50%;
    padding: 0;
    border: 1px solid $border-color;
    outline-color: transparent;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transition: all .1s ease-in-out .1s;
      width: round($font-size / 2.16);
      height: round($font-size / 2.16);
      margin-left: 0 - round($font-size / 4.33);
      margin-top: 0 - round($font-size / 4.33);
      background-color: $background-color;
      border-radius: 50%;
    }

    &:checked {
      border-color: $primary-color;
      box-shadow: 0 0 0 $font-size $primary-color inset;
    }
  }

}


// ========================================
// Checkbox style
// ========================================
.checkbox-group {
  label {
    font-size: $font-size;
    font-weight: 400;
    margin-right: round($font-size * 1.15); //15px;
    cursor: pointer;
  }

  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    display: inline-block;
    width: round($font-size * 1.54); //20px;
    height: round($font-size * 1.54); //20px;
    box-shadow: 0 0 0 0 $primary-color inset;
    transition: all .1s ease-in-out;
    position: relative;
    cursor: pointer;
    vertical-align: 0 - round($font-size / 2.6); //-5px;
    border-radius: round($font-size / 2.6); //-5px;
    padding: 0;
    border: 1px solid $border-color;
    outline-color: transparent;
    outline-style: none;

    &:checked {
      border-color: $primary-color;
      box-shadow: 0 0 0 round($font-size / 1.3) $primary-color inset; //10px
    }

    &:checked:after {
      content: "\2714";
      color: $background-color;
      position: absolute;
      left: 20%;
      font-family: sans-serif;
      font-size: $font-size;
    }
  }

}


// ========================================
// Submit and button style
// ========================================
button,
.button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: block;
  width: 100%;
  padding: round($font-size * 1.15) round($font-size * 1.92);
  margin-bottom: round($font-size / 1.13);
  border: 1px solid $border-color;
  border-radius: 5px;
  background-color: $background-color;
  text-align: center;
  font-weight: bolder;
  font-size: $font-size;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 0 2px $border-color;
  }

  &:focus {
    outline: 0;
  }
}

.button-primary {
  border-color: $primary-color;
  background-color: $primary-color;
  color: $background-color;

  &:hover {
    box-shadow: none;
    opacity: .8;
  }
}

.button-ghost {
  border: 0;
}
