// ========================================
// Finest-form v. 0.2.0
// Copyright 2018, Manuel Coiai
// https://github.com/viralk/finest-form
// ========================================


// ========================================
// Config
// ========================================

// the font size is used to determine the size of all the elements of the form.
// By varying the font size the elements will automatically adapt to the new 
// dimension
$font-size: 13px;

// Change the following value to adapt the form elements to your style
$primary-color: #33C3F0;
$grey-color: #999;
$border-color: #DDD;
$background-color: #FFF;
$border-radius: 5px;


// ========================================
// Config
// ========================================
* {
  box-sizing: border-box;
}


// ========================================
// Browser-compatibility
// ========================================
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: $grey-color;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $grey-color;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $grey-color;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $grey-color;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $grey-color;
}


// ========================================
// General
// ========================================
%label {
  font-size: 80%;
  position: absolute;
  top: round($font-size / 2.6);
  left: round($font-size / 1.3);
  font-weight: 400;
  color: $grey-color;
  transition: all .15s linear;
}
%input {
  border: 0;
  border-radius: $border-radius;
  background-color: $background-color;
  box-shadow: 0 0 0 1px $border-color;
  font-size: $font-size;
  width: 100%;
  height: round($font-size * 3.46);
  margin-bottom: round($font-size / 1.3);
  box-sizing: border-box;

  &:focus {
    box-shadow: 0 0 0 2px $primary-color;
  }
}


// ========================================
// Input style
// ========================================
.input-group {
  position: relative;
  
  label {
    @extend %label;
  }

  input[type] {
    @extend %input;
  }

  input[type="url"],
  input[type="text"],
  input[type="tel"],
  input[type="search"],
  input[type="range"],
  input[type="password"],
  input[type="number"],
  input[type="month"],
  input[type="file"],
  input[type="email"] {
    padding: round($font-size / 1.08) round($font-size / 1.3);
    transition: all .15s linear;

    ~ label {
      opacity: 0;
    }
  }

  input[type="week"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="color"] {
    padding: round($font-size * 1.54) round($font-size / 1.3) round($font-size / 3.25);
  }

}


// ========================================
// Select style
// ========================================
.select-group {
  position: relative;

  label {
    @extend %label;
  }

  select {
    @extend %input;
    padding: round($font-size * 1.54) round($font-size / 1.3) round($font-size / 3.25);
  }

  &:before {
    content: '';
    padding: $font-size * 1.73;
    background-color: $background-color;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: $border-radius;
    pointer-events: none;
  }

  &:after {
    content: "\2BC6";
    position: absolute;
    top: 0;
    right: round($font-size / 3.25);
    margin: round($font-size / 1.3) 0;
    padding-top: round($font-size / 3.25);
    padding-right: round($font-size / 1.62);
    padding-bottom: round($font-size / 3.25);
    padding-left: round($font-size / 1.08);
    background-color: $background-color;
    border-left: 1px solid $border-color;
    color: $grey-color;
    font-size: round($font-size / 1.08);
    pointer-events: none;
  }

}


// ========================================
// Radio style
// ========================================
.radio-group {

  label {
    font-size: $font-size;
    font-weight: 400;
    margin-right: 15px;
    cursor: pointer;
  }

  input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    display: inline-block;
    width: round($font-size * 1.54);
    height: round($font-size * 1.54);
    box-shadow: 0 0 0 0 $primary-color inset;
    transition: all .2s ease-in-out;
    position: relative;
    cursor: pointer;
    vertical-align: 0 - round($font-size / 1.85);
    border-radius: 50%;
    padding: 0;
    border: 1px solid $border-color;
    outline-color: transparent;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transition: all .2s ease-in-out .1s;
      width: round($font-size / 2.16);
      height: round($font-size / 2.16);
      margin-left: 0 - round($font-size / 4.33);
      margin-top: 0 - round($font-size / 4.33);
      background-color: $background-color;
      border-radius: 50%;
    }

    &:checked {
      border-color: $primary-color;
      box-shadow: 0 0 0 $font-size $primary-color inset;
    }
  }

}


// ========================================
// Checkbox style
// ========================================
.checkbox-group {
  label {
    font-size: $font-size;
    font-weight: 400;
    margin-right: 15px;
    cursor: pointer;
  }

  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    display: inline-block;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 0 $primary-color inset;
    transition: all .2s ease-in-out;
    position: relative;
    cursor: pointer;
    vertical-align: -5px;
    border-radius: 5px;
    padding: 0;
    border: 1px solid $border-color;
    outline-color: transparent;

    &:checked {
      border-color: $primary-color;
      box-shadow: 0 0 0 10px $primary-color inset;
    }

    &:checked:after {
      content: "\2714";
      color: $background-color;
      position: absolute;
      left: 20%;
    }
  }

}


// ========================================
// Submit style
// ========================================
button,
.button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: block;
  width: 100%;
  padding: round($font-size * 1.15) round($font-size * 1.92);
  margin-bottom: round($font-size / 1.13);
  border: 1px solid $border-color;
  border-radius: 5px;
  background-color: $background-color;
  text-align: center;
  font-weight: bolder;
  font-size: $font-size;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 0 2px $border-color;
  }

  &:focus {
    outline: 0;
  }
}

.button-primary {
  border-color: $primary-color;
  background-color: $primary-color;
  color: $background-color;

  &:hover {
    box-shadow: none;
    opacity: .8;
  }
}

.button-ghost {
  border: 0;
}
