// ========================================
// Finest-form v. 0.0.1
// Copyright 2018, Manuel Coiai
// https://github.com/viralk/finest-form
// ========================================


// ========================================
// Config
// ========================================
$font-size: 13px;
$primary-color: #33C3F0;
$border-radius: 5px;


// ========================================
// Browser-compatibility
// ========================================
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #999;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999;
}


// ========================================
// Input style
// ========================================
.input-group {
  position: relative;
  
  label {
    position: absolute;
    top: 5px;
    left: 15px;
    font-weight: 400;
    color: #999;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
  }

  input[type],
  select {
    border: 0;
    border-radius: $border-radius;
    background-color: #fff;
    box-shadow: 0 0 0 1px #ddd;
    font-size: $font-size;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    box-sizing: border-box;

    :focus {
      box-shadow: $primary-color;
    }
  }

  input[type="url"],
  input[type="text"],
  input[type="tel"],
  input[type="search"],
  input[type="range"],
  input[type="password"],
  input[type="number"],
  input[type="month"],
  input[type="file"],
  input[type="email"] {
    padding: 12px 10px;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;

    ~ label {
      opacity: 0;
    }
  }

  input[type="week"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="color"],
  select {
    padding: 20px 10px 4px;
  }

}


// ========================================
// Radio style
// ========================================
.radio-group {

  label {
    font-size: $font-size;
    font-weight: 400;
    color: #999;
    margin-right: 15px;
    cursor: pointer;
  }

  input[type="radio"] {
    -webkit-appearance: none;
    background: transparent;
    display: inline-block;
    width: 20px;
    height: 20px;
    -webkit-box-shadow: 0 0 0 0 $primary-color inset;
    -moz-box-shadow: 0 0 0 0 $primary-color inset;
    box-shadow: 0 0 0 0 $primary-color inset;
    transition: all .2s ease-in-out;
    position: relative;
    cursor: pointer;
    vertical-align: -5px;
    border-radius: 50%;
    padding: 0;
    border: 1px solid #ddd;
    outline-color: transparent;
  }

  input[type="radio"]:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transition: all .2s ease-in-out .1s;
    -webkit-transition: all .2s ease-in-out .1s;
    transition: all .2s ease-in-out .1s;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    margin-top: -3px;
    background-color: #fff;
    border-radius: 50%;
  }

  input[type="radio"]:checked {
    border: none;
    -webkit-box-shadow: 0 0 0 10px $primary-color inset;
    -moz-box-shadow: 0 0 0 10px $primary-color inset;
    box-shadow: 0 0 0 10px $primary-color inset;
  }
}